<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/news.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="wrapper">
        <div class="nav_menu">
            <table id="navigation">
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
            </table>
        </div>
        <div class="news">
                        <% data.forEach(function(item) { %>
                <p id="articlesTitle"><a href='http://localhost:3000/adminNews/<%= item.idArticle %>'><%= item.titleArticle %> </a></p>
                <p id="articlesDescription">
                    <%= item.descriptionArticle %>
                </p> 
                <% }); %>
            
                <div class="form">
                        <h2>Добавить статью</h2>
                
                    <form action="http://localhost:3000/adminNews/addArticle" method="post"> 
                        <label for="titleArticle">Название статьи</label> 
                        <input type="text" name="titleArticle" id="titleArticle" required> 
                        <p>
                            <label for="textArticle">Текст статьи</label>
                            <textarea rows="25" cols="30" id="textArticle"></textarea> 
                        </p> 
                        <p>
                            <label for="descriptionArticle">Описание статьи</label>
                            <input type="text" name="descriptionArticle" id="descriptionArticle">
                        </p>
                        <button type="submit" id="sendArticle">Создать статью</button> 
                    </form>
                </div>
        </div>
        <div class="ad">
            <ul>
                <li>Получите незабываемый вкус свежести с нашими эксклюзивными фруктовыми смузи! Натуральные ингредиенты, богатые витаминами и минералами, обеспечат вам энергией на весь день. Попробуйте уже сегодня и почувствуйте разницу!</li>
                <li>Устали от скучных обедов? Попробуйте наши горячие блюда на основе свежих овощей! Здоровый выбор для занятых людей, которые ценят свое время и здоровье. Закажите прямо сейчас и наслаждайтесь вкусом и пользой!</li>
                <li>Пришло время обновить свою гардеробную! Откройте для себя нашу коллекцию модной одежды для мужчин и женщин. Высокое качество материалов, современные тренды и умеренные цены – все, что вам нужно для стильного образа. Покупайте с умом и выглядите безупречно!</li>
                <li>Хотите почувствовать себя настоящим профессионалом? Наша новая коллекция стильных и функциональных часов поможет вам выделиться из толпы. Безупречный дизайн, надежность и точность – все, что нужно для успешного человека. Подчеркните свой стиль уже сегодня!</li>
                <li>Хотите сохранить молодость и красоту вашей кожи? Попробуйте нашу новую линию ухода за кожей лица. Уникальные формулы, богатые активными компонентами, помогут вам избавиться от морщин, улучшить текстуру кожи и вернуть ей здоровое сияние. Не упустите возможность быть настоящей красавицей!</li>
              </ul>
        </div>
    </div>
    <script>
        document.querySelector("#sendArticle").onclick=function()
        {
            event.stopPropagation();
            let article={
                'titleArticle':document.querySelector("#titleArticle").value, 
                'textArticle':document.querySelector("#textArticle").value, 
                'descriptionArticle':document.querySelector("#descriptionArticle").value,
        }
        let promise=fetch('http://localhost:3000/adminNews/addArticle',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(article)
            });
        }
        </script>
</body>
</html>