body {
    background-color: #7fffd4;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: solid 0.25vh #AA938E;
    width: 30vw;
}
textarea {
    margin-left: 1vw;
    margin-top: 1vh;
    width: 28vw
}

#titleArticle {
    margin-top: 0.5vh;;
}

#sendArticle {
    margin-bottom: 1vh;
    margin-left: 12vw;
}