/*
    Тело страницы
*/

.wrapper{
    display: grid;
    grid-template-areas:
    "nav_menu nav_menu"
    "news ad";
    text-align: center;
    grid-template-columns: 80vw 18.25vw;
    gap: 2vh;
}

body {
    background-color: #929A9E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.66vh;
}

.nav_menu {
    grid-area: nav_menu;
    border: solid black 2px;
}

.news {
    grid-area: news;
    border: solid black 2px;
    padding: 2vh;
}

.ad {
    grid-area: ad;
    border: solid black 2px;
}
/*
    Работа по ID
*/

#textArticle {
    background-color: #283E49;
    color: white;
    border: solid black 0.35vh;
    font-size: 2vh;
    width: 77vw;
}

